html {
    background: #83a4d4;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b6fbff, #83a4d4);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.table Tbody {
    width: 100%
}

.table tbody tr {
    padding-top: 25px;
}

.table {
    margin-top: 5%;
    text-align: center;

}

.table * {
    padding: 5px;
}

.table Button {
    
    margin: auto;
}
.navlink{
    
    text-decoration: none;
    
    
    
}